body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(0, 0, 0, 0.981);
    color: white;
    padding: 10px 40px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h2{
    font-family: papyrus, fantasy;
}

a {
    text-decoration: none;
    color: white;
    opacity: 0.7;
}

a:hover {
    opacity: 1;
    text-decoration: underline;
}

.links{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    gap: 50px;
}   

.btn{
    font-family: papyrus, fantasy;
    background-color: rgba(218, 218, 42);
    padding: 10px 14px;
    color: black;
    border-radius: 5px;
}

.btn:hover{
    color: white;
    background-color: rgba(218, 218, 42, 0.672);
    text-decoration: none;
}

header {
    display: flex;
    align-items: center;
}

.header-bold {
    color: rgba(218, 218, 42);
    font-size: 1.5em;
}

.header-content {
    width: 50%;
}

h1{
    max-width: 90%;
    font-size: 3.5em;
    font-family: papyrus, fantasy;
}

p{
    color: rgba(255, 255, 255, 0.501);
    max-width: 80%;
    line-height: 30px;
    font-size: 20px;
    position: relative;
    top: -20px;
}

.logos{
    display: flex;
    overflow: scroll;
    max-width: 100%;
}

::-webkit-scrollbar {
    width: 0px;
}

#logo{
    margin: 0px 50px 0px 0px;
}

h3{
    font-family: papyrus, fantasy;
    font-size: 2em;
}

.imgs{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.cols {
    padding: 10px;
}

.cols:hover {
    box-shadow: 0px 5px 0px 0px rgba(55, 51, 51, 0.844);
    cursor: pointer;
}

.cols img {
    width: 100%;
    object-fit: co;
}

.arrow{
    color: white;
    font-size: 30px;
}

.about{
    display: flex;
    align-items: center;
    background-color: rgba(55, 51, 51, 0.844);
    padding: 50px;
    gap: 10px;
}


.about h3{
    font-size: 2.3em;
    line-height: 50px;
}

.about p{
    line-height: 30px;
}

.about_2 {
    transform: translateX(50px);
}

section{
    padding: 50px 10px 10px 0px;
    margin-bottom: 50px;
}

.contact {
    width: 60%;
}

footer{
    display: flex;
    background-color: rgba(55, 51, 51, 0.844);
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.icons{ 
    display: flex;
    gap: 100%;
    position: relative;
    right: 150px;
    height: 30px;
    width: 30px;
}

img:hover{
    opacity: 0.3;
    cursor: pointer;
}

.arrow {
    position: relative;
    top: 5px;
    left: 2px;
}

.top_icon{
    display: none;
    cursor: pointer;
}

.sidebar {
    display: none;
}

/* mobile view */
@media only screen and (max-width: 768px) {
    body{
        max-width: 100%;
        font-size: 0.5em;
        overflow-x: hidden;
        padding: 10px 20px;
    }
    
    .links {
        display: none;
    }

    header {
        display: block;
    }

   .header-content {
        width: 100%;
        font-size: 1.2em;
    } 

    .hide_btn {
        display: none;
    }

    .sidebar {
        position: absolute;
        top: 0;
        left: 0;
        width: 70%;
        background-color: rgba(0, 0, 0, 0.981);
        z-index: 1;
        height: 1000vh;
        transition: all;
    }

    .sidebar_links {
        list-style-type: none;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .sidebar_links a {
        color: white;
        font-size: 2.5em;
    }

    .sidebar p {
        font-size: 4em;
        cursor: pointer;
        float: right;
        /* z */
    }

     p {
        max-width: 100%;

    }

    h1 {
        max-width: 100%;
    }

    h2{
        margin: 4px;
    }

    .imgs {
        display: block;
    }

    .about {
        display: block;
        padding: 20px;
    }

    .about_2 {
        transform: translateX(0px);
    }

   .top_icon{
    display: block;
    position: relative;
    font-size: 20px;
    top: 5px;
    right: 5px;
    }

    .header-image img {
        width: 100%;
    }

    .footer {
        justify-content: space-around;
        padding: 10px;
    }

    .contact {
        width: 100%;
    }

    .icons {
        right: 80px;
        gap: 50%;
    }
   
    .footer h2 {
        margin: 0;
    }
      
}
